body {
    background: url('../img/source.gif');
    font-family: 'Noto Serif', Helvetica, serif;
}

.panelTitle {
    background-color: #3949ab;
    color: white;
}

.panel {
    height: 500px;
}

.btn {
    background-color: #3949ab;
}

.jumbotron {
    margin: 5%;
    background-color: #ADABAB;
}

.loggedInContainer {
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    border-color: #333;
}

.homeBtn {
    padding: 1%;
    border-radius: 10px;
    border-color: #333;
}

element.style {
    border-radius: 10px;
    border-color: #333;
}