    body {
        background: url('../img/source.gif');
        font-family: 'Noto Serif', Helvetica, serif;
    }
    
    .panelTitle {
        background-color: #5bc0de;
        color: white;
    }
    
    .form-control:focus {
        background-color: transparent;
        color: gray;
        font-size: 22px;
    }
    
    .panel {
        height: 500px;
    }
    
    .btn {
        background-color: #3949ab;
    }
    
    .jumbotron {
        margin: 5%;
        background-color: #ADABAB;
    }
    
    .loggedInContainer {
        background-color: white;
        padding: 2%;
        border-radius: 10px;
        border-color: #333;
    }
    
    .bizContainer {
        background-color: white;
        padding: 2%;
        border-radius: 10px;
        border-color: #333;
    }
    
    .bizContainer h1 {
        color: #337ab7;
        font-size: 25px;
        font-weight: bold;
    }
    
    .container .bizContainer {
        width: 50%;
    }
    
    .homeBtn,
    .subBtn {
        padding: 1%;
        border-radius: 10px;
    }
    
    label {
        color: #337ab7;
        font-size: 20px;
    }
    
    .barberContainer,
    .gmapCon {
        background-color: white;
        padding: 2%;
        border-radius: 10px;
        border-color: #333;
    }