body {
    background: url('../img/source.gif');
    font-family: 'Noto Serif', Helvetica, serif;
}

.panelTitle {
    background-color: #3949ab;
    color: white;
}

.panel {
    height: 500px;
}

.btn {
    background-color: #3949ab;
}

.jumbotron {
    margin: 5%;
    background-color: #ADABAB;
}